$INVOICEID,$INVOICELINENUM,ITEM,$AMOUNT,,,,$DESCRIPTION,,,,,,,,,,,,,N,,#NULL,$ACCOUNTINGDATE,,,,,#NULL,,,,,,,,,,,,,,,,,#NULL,,,N,1,,,N,,,,,,,N,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,END
