$INVOICEID,$BUSINESSUNIT,$SOURCE,$INVOICENUMBER,$INVOICEAMOUNT,$INVOICEDATE,$SUPPLIERNAME,$SUPPLIERNUMBER,$SUPPLIERSITE,$INVOICECURRENCY,$PAYMENTCURRENCY,$DESCRIPTION,AP_Cloud_Demo,STANDARD,,,,,,$PAYMENTTERMS,$TERMSDATE,,,$ACCOUNTINGDATE,CHECK,Standard,#NULL,,,,,,,,,,,#NULL,,,,,#NULL,#NULL,,,,21,#NULL,,,#NULL,#NULL,,,,#NULL,,,,,,,,,,,,,,,N,N,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,END
