*.fpr
tools/
Fortifyserverless*
__pycache__
.scannerwork/
.idea
runsonar.sh
setconfig.sh
.terraform
*.tfstate
.terraform
*.auto.tfvars
terraform.tfvars
runsonar_nopublish.sh
terraform.tfstate
*.backup
.idea
*.tfvars
