# Copyright (c)  2021,  Oracle and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.

fusion_server = {
    erp_hostname = "xxxxx.oraclecloud.com"
    erp_username = "xxxx.yyyy"
}
oci-namespace="xxxxx"
notification_email="xxxx.yyyy@youcompany.com"
compartment_ocid="ocid1.compartment.oc1..xxxx11112223334445556667778"